$bg-color: rgba(43, 42, 41, 1);
$bg-silver-color: rgba(255, 255, 255, 1);
$bg-btn-color: rgba(41, 41, 41, 1);
$bg-header-one-color: rgba(135, 183, 255, 1);
$bg-header-two-color: rgba(189, 255, 0, 1);
$bg-card-color:rgba(237, 237, 237, 1);
$bg-btn2-color:rgba(217, 217, 217, 1);

$border-silver-color: #e2e5e9;

$text-color: rgba(140, 140, 140, 1);
$text-gray-color: #f5f5f580;

$color-white: white;
$color-gray: #202020;