.Footer-right-section {
  display: flex;
  flex-direction: row;
  margin-top: 28px;
  width: 1080px;
//   justify-content: space-between;
  .Footer-right-section-footerMenu{
    width: 340px;
  }
  .Footer-right-section-usefulLinks{
    width: 410px;
  }
  .Footer-right-section-title {
    color: $color-white;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 48px;
  }
  .Footer-right-section-ul {
    color: $bg-silver-color;
    list-style: none;
  }
  .Footer-right-section-ul li {
    margin-top: 25px;
  }
  .Footer-right-section-usefulNews {
    width: 308px;
    .Footer-right-section-usefulNews-title {
      width: 308px;
      height: 48px;
      color: $bg-silver-color;
      margin-bottom: 65px;
    }
    .Footer-right-section-usefulNews-networks {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-content: center;
      gap: 10px;
      width: 90px;
      margin: 0 auto;
      transform: rotate(-45deg);
      margin-top: 40px;

      .Footer-right-section-usefulNews-networks-card {
        width: 62px;
        height: 62px;
        border-radius: 10px;
        background: $bg-networks-color;
        display: flex;
        align-items: center;
        justify-content: center;
        .Footer-right-section-usefulNews-networks-card-icon {
          transform: rotate(45deg);
        }
      }
    }
  }
}
